.column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.row {
    display: flex;
    flex-direction: row;
}

.topbar {
  background-color: white;
  border-bottom: 1px solid var(--border-color-admin);
  padding: 1.5rem
}

@media only screen and (max-width: 968px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
