@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  --background: #FCFAF7;
  --background-alt: #FCFAF7;
  --background-white: #ffffff;

  --accent: #D1994A;
  --border: rgba(0, 0, 0, 0.1);
  --inactive: #F3F3EC;
  --text-color-primary: #3B3B3B;
  --text-color-alt: #595A5A;

  --font-headings: "Geist", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --content-max-width: 1200px;
}


html {
  scroll-behavior: smooth;
}

.accordion-inner-header {
  padding: 1rem 0rem !important;
}

.align-baseline {
  align-items: baseline !important;
}

.align-left {
  align-items: start !important;
}

.align-start {
  align-items: baseline !important;
}

article {
  padding: 5rem 0rem 5rem 0rem;
}

.article-h1 {
  font-size: 2.5rem;
  text-align: left;
}

body {
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  font-family: "Geist", Helvetica, sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

.body-l {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
}

button {
  cursor: pointer;
}

.button-primary {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: var(--background);
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.button-primary:hover {
  background-color: var(--background);
  color: var(--text-color-primary);
}

.button-secondary {
  background-color: var(--background);
  border: 1px solid var(--accent);
  color: var(--text-color-primary);
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.button-secondary:hover {
  background-color: var(--accent);
  color: var(--background);
}

.column {
  display: flex;
  flex-direction: column;
}

.columns-two {
  grid-template-columns: 1fr 1fr;
}

.columns-three {
  grid-template-columns: 1fr 1fr 1fr;
}

.columns-four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: var(--content-max-width);
  width: 100%;
}

.content-box-left {
  display: flex;
  justify-content: end;
  max-width: 60%;
  padding: 5rem;
  width: 100%;
}

.content-box-with-image {
  display: flex;
  width: 100%;
}

.divider-v {
  border: 1px solid var(--accent);
  height: 100%;
  width: 1px;
}

.dropdown-container {
  background-color: var(--background-alt);
  border: 1px solid var(--accent);
  display: none;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s ease-out;
  width: fit-content;
}

.dropdown-active {
  display: block !important;
  opacity: 1;
  width: fit-content;
}

.dropdown-wrapper {
  position: relative;
}

.faq-header {
  background-color: var(--background-alt);
}

footer {
  align-items: center;
  border-top: 1px solid var(--accent);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 1.5rem 2rem 1.5rem;
}

#footer-top-row {
  align-items: start !important;
}

.form-wrapper {
  background-color: var(--background-alt);
  padding: 2rem;
  width: 100%;
}

.full-width {
  width: 100%;
}

.gap-xs {
  gap: 0.25rem;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

.gap-xl {
  gap: 5rem;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  max-width: 720px;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: -0.03em;
  line-height: 1.1em;
}

h3 {
  font-size: 2rem;
}

.hero-section-single {
  padding: 8rem 0rem 8rem 0rem;
}

.image-container {
  position: relative;
}

.image-right {
  object-fit: cover;
  position: relative !important;
  width: 100%;
}

input,
textarea {
  border-bottom: 1px solid var(--text-color-primary);
  outline-width: 0px !important;
}

input:focus-visible,
textarea:focus-visible {
  outline-color: transparent;
  outline-width: 0px !important;
}

.justify-end {
  justify-content: end;
}

.justify-space-between {
  justify-content: space-between;
}

label {
  color: var(--text-color-alt);
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.loop-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  overflow: hidden;
  position: relative;
}

.loop-container-left {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.7), transparent);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
  z-index: 3;
}

.loop-container-right {
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0.7), transparent);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  z-index: 3;
}

main {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}

.max-w-1000 {
  max-width: 1000px;
}

.max-w-1200 {
  max-width: 1200px;
}

.menu-button-wrapper {
  display: none;
}

.navbar-wrapper {
  padding: 1.5rem 2rem;
  position: absolute;
}

p {
  font-size: 16px;
  margin-block-end: 1rem;
}

.small {
  padding: 0.5rem 1rem;
}

.medium {
  padding: 0.75rem 1.5rem
}

.large {
  padding: 1.25rem 2rem;
}

.logo-navbar {
  height: auto;
  width: 120px;
}

.max-w-800 {
  max-width: 800px;
}

.navbar-wrapper {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
}

.navbar-wrapper-outer {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navlink {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: all 0.25s cubic-bezier(0.76, 0, 0.24, 1);
}

.navlink:hover {
  font-weight: 500;
}

.navlink::after {
  background-color: var(--text-color-alt);
  bottom: -4px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.25s cubic-bezier(0.76, 0, 0.24, 1);
  width: 0px;
}

.navlink:hover::after {
  width: 100%;
}

#navmenu-actions-desktop {
  display: flex;
  gap: 1rem;
}

.news-sidebar {
  align-self: flex-start;
  border-left: 1px solid var(--accent);
  padding-left: 1rem;
  max-width: 300px;
  position: sticky;
  top: 7rem;
  width: 100%;
}

.no-hover:hover::after {
  width: 0px !important;
}

.p-accordion-header {
  padding: 1.5rem;
}

.p-accordion-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.p-accordion-header.p-highlight {
  background-color: var(--accent);
  color: white;
}

.p-accordion-header-text {
  order: 1;
}

.p-accordion-toggle-icon {
  order: 2;
}

.p-button {
  gap: 0.25rem;
}

.p-column-header-content {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
}

.p-column-title {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.p-datatable {
  background-color: var(--background-white);
  border: 1px solid var(--border);
  border-radius: 20px;
  box-shadow: 0 4px 40px rgba(44, 36, 32, 0.08);
  width: 100%;
}

.p-datatable-tbody>tr {
  cursor: pointer;
}

.p-datatable-tbody>tr>td {
  border-bottom: 1px solid var(--border);
  color: var(--text);
  font-size: 0.9rem;
  padding: 1rem;
}

.p-datatable-tbody>tr:last-child>td {
  border-bottom: 0px solid transparent;
}

.p-datepicker {
  background-color: white;
  border: 1px solid var(--accent);
  padding: 1rem;
}

.p-dialog {
  background-color: var(--background-white);
  border: 2px solid var(--accent);
  padding: 1.5rem;
}

.p-dialog-header {
  padding-bottom: 1rem;
}

.p-dialog-mask {
  background-color: rgba(0, 0, 0, .5);
}

.p-dialog-title {
  font-size: 1.5rem;
}

.p-disabled {
  opacity: 0.5;
}

.p-dropdown-items-wrapper {
  background-color: var(--background-white);
  border: 1px solid var(--accent);
  padding: 0.5rem;
}

.p-fileupload {
  align-items: center;
  background: var(--background);
  border: 2px dashed var(--border);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-menubar .p-menubar-root-list>.p-menuitem:hover>.p-submenu-list {
  display: flex !important;
}

.p-overlaypanel:after,
.p-overlaypanel:before {
  display: none;
}

.p-overlaypanel-content {
  background-color: var(--background-alt);
  border: 1px solid var(--accent);
  padding: 1rem;
  position: absolute;
  transition: all 0.3s ease-out;
  width: fit-content;
}

.p-password-input {
  width: 100%;
}

.p-sidebar {
  background-color: var(--background-alt);
  width: 100vw;
}

.p-sidebar-close {
  padding: 1rem;
}

.p-sidebar-close-icon {
  height: 20px;
  width: 20px;
}

.p-sidebar-content {
  display: flex;
  flex-direction: column;
}

.p-submenu-list {
  background-color: var(--background);
  border: 1px solid #FBF8F2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1rem;
}

.p-tabview {
  width: 100%;
}

.p-tabview-ink-bar {
  display: none;
}

.p-tabview-nav {
  display: flex;
  transition: all 0.3s ease-out;
}

.p-tabview-nav-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.p-tabview-nav>li {
  border-bottom: 2px solid var(--inactive);
  cursor: pointer;
  padding-bottom: 0.5rem;
  text-align: center;
  transition: all 0.3s ease-out;
  width: 100%;
}

.p-tabview-panel {
  min-height: 480px;
  padding-top: 5rem;
}

.p.tabview-panels {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.p-tabview-selected {
  border-color: var(--accent) !important;
  color: var(--accent);
  font-weight: 500;
  transition: all 0.3s ease-out;
}

.p-tabview-title {
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

.ql-container {
  overflow-y: auto !important;
  height: calc(100% - 42px) !important;
}

.ql-editor {
  min-height: 100%;
  overflow-y: auto !important;
}

.ql-toolbar {
  background-color: white;
}

.quotation-top {
  left: -16px;
  position: absolute;
  top: -16px;
}

.quotation-bottom {
  display: inline-block;
  vertical-align: middle;
  position: static;
  margin-left: 4px;
}

.quote {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1em;
  text-align: center;
}

.quote-author {
  font-family: var(--font-headings);
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.quote-text {
  font-size: 1.5rem;
}

.quote-wrapper {
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.scrolling {
  background-color: var(--background);
  color: var(--text);
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
}

.section-alternative {
  background-color: var(--background-alt);
}

.section-hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 90vh;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.section-hero::after {
  backdrop-filter: contrast(0.8);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.section-with-image {
  padding: 0px;
}

.social-media-icon-wrapper {
  align-items: center;
  border: 1px solid var(--accent);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  transition: all 0.3s ease-out;
}

.social-media-icon-wrapper:hover {
  background-color: var(--accent);
}

.section-scroll {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  width: 100%;
}

.spacer-s {
  height: 0.5rem;
}

.spacer-m {
  height: 1rem;
}

.spacer-l {
  height: 2rem;
}

.spacer-xl {
  height: 5rem;
}

.tag {
  color: var(--accent);
  font-size: 1rem;
  letter-spacing: -0.05em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.text-columns {
  column-count: 3;
  column-gap: 3rem;
}

.timeline-image {
  max-width: 500px;
  width: 100%;
}

@media only screen and (max-width: 968px) {
  .accordion-inner>.p-accordion-tab {
    border-bottom: none;
  }

  .accordion-inner>.p-accordion-tab>.p-toggleable-content>.p-accordion-content {
    padding: 1.5rem 0rem;
  }

  .body-l {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  .content {
    align-items: baseline;
  }

  .content-box-with-image {
    flex-direction: column;
  }

  .content-box-left {
    max-width: none;
    padding: 5rem 1.5rem;
  }

  #navmenu-desktop {
    display: none;
  }

  footer {
    border-top: 0.1px solid var(--accent);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  #footer-top-row {
    gap: 3rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .menu-button-wrapper {
    display: block;
  }

  .mobile-column {
    flex-direction: column;
  }

  .navbar-wrapper {
    padding: 1rem 1.5rem;
  }

  .navlink-header {
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  .navlink-mobile {
    font-size: 1.2rem;
  }

  #navmenu-actions-desktop {
    display: none;
  }

  p,
  span,
  h1,
  .quote {
    text-align: left;
  }

  p {
    font-size: 14px;
  }

  .p-accordion-tab {
    border-bottom: 1px solid var(--text-color-alt);
  }

  .p-tabview-panel {
    min-height: 280px;
  }

  .section-hero {
    align-items: baseline;
    padding: 2rem 1.5rem;
  }

  .section-scroll {
    height: 25rem;
  }

  .text-columns {
    column-count: 1;
  }
}