.cardHeadline {
    font-size: 1.1rem;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
    text-align: left;
}

.cardMeta {
    font-size: 0.7rem;
    line-height: 1.2em;
    text-transform: none;
}

.cardThumbnail {
  aspect-ratio: 3/4;
  border: 1px solid var(--accent);
  margin-bottom: 1rem;
  max-height: 360px;
  object-fit: cover;
  width: 100%;
}
